<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul Rich Collection - Raven Watches</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <div class="hamburger-menu" id="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <img th:src="@{/images/raven.png}" alt="Raven Logo" class="logo">
        <nav id="nav-menu">
            <a th:href="@{/}">Home</a>
            <a th:href="@{/services}">Services</a>
            <a th:href="@{/order}">Order</a>
            <a th:href="@{/about}">About Us</a>
            <a href="https://www.instagram.com/raven.watches/" target="_blank">Instagram Page</a>
        </nav>
    </header>
    <main>
        <div class="collection-background">
            <div class="center-text">
                <h1>Our Watches</h1>
                <h2>Paul Rich</h2>
            </div>
            <div class="gallery">
                <img th:src="@{/images/paulrich1.jpeg}" alt="Paul Rich Watch 1">
                <img th:src="@{/images/paulrich2.jpeg}" alt="Paul Rich Watch 2">
            </div>
        </div>
    </main>
    <script th:src="@{/js/scripts.js}"></script>
</body>
</html>
