<!--==============================================================================
  Project:        Raven Watches E-Store
  File:           services.html
  Description:    This is the services page where the company's watches are displayed. 
                  Watches are categorized by brand in this page.
  Author:         Mohammad Makableh
  
==============================================================================-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raven Watches - Services</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <div class="hamburger-menu" id="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <img th:src="@{/images/raven.png}" alt="Raven Logo" class="logo">
        <nav id="nav-menu">
            <a th:href="@{/}">Home</a>
            <a th:href="@{/services}">Services</a>
            <a th:href="@{/order}">Order</a>
            <a th:href="@{/about}">About Us</a>
            <a href="https://www.instagram.com/raven.watches/" target="_blank">Instagram Page</a>
        </nav>
    </header>
    <main>
        <div class="services-background">
            <div class="center-text">
                <h1 class="service-title">our watches</h1>
            </div>
            <div class="gallery">
                <a th:href="@{/venezianico}">
                    <img th:src="@{/images/venezianico.png}" alt="Venezianico">
                    <div class="overlay"></div>
                    <div class="desc">Venezianico Collection</div>
                </a>
                <a th:href="@{/zinvo}">
                    <img th:src="@{/images/zinvo.png}" alt="Zinvo">
                    <div class="overlay"></div> 
                    <div class="desc">Zinvo Collection</div>
                </a>
                <a th:href="@{/tufina}">
                    <img th:src="@{/images/tufina.png}" alt="Tufina">
                    <div class="overlay"></div>
                    <div class="desc">Tufina Collection</div>
                </a>
                <a th:href="@{/paulrich}">
                    <img th:src="@{/images/paulrich.png}" alt="Paul Rich">
                    <div class="overlay"></div>
                    <div class="desc">Paul Rich Collection</div>
                </a>
            </div>
        </div>
    </main>
    <script th:src="@{/js/scripts.js}"></script>
</body>
</html>
